* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.primary-nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  background-color: #272a31;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  padding-top: 2px;
  margin-right: 10rem;
}

.header-nav li {
  list-style: none;
}

header a {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}

.programms a {
  text-decoration: none;
}

.header-nav li a {
  text-decoration: none;
  padding-left: 15px;
  color: #d3d3d3;
  font-size: 13px;
}

.secodary-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  padding: 18px 24px;
  top: 30px;
  width: 100%;
  height: 78px;
  z-index: 100;
}

header .logo {
  color: #ec5242;
  display: none;
  padding-left: 5%;
  padding-right: 5rem;
  padding-top: -5px;
  animation: logo 3s ease;
}

@keyframes logo {
  100% {
    transform: rotate3d(1, 2, 1, 360deg);
  }
}

.logo span {
  color: #272a3199;
  padding-left: 20px;
  font-weight: 800;
  display: block;
}

.nav-bar .about {
  color: #ec5242;
  font-weight: 500;
}

.nav-bar .nav-btn {
  padding: 8px 12px;
  border: 3px solid #ec5242;
  color: #ec5242;
  max-width: 150px;
  height: max-content;
  background-color: #fff;
  margin-left: 40px;
  margin-top: -10px;
}

.nav-bar {
  display: none;
  margin-right: 0;
}

.nav-bar.active {
  display: flex;
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 100vh;
  padding-top: 106px;
  background-color: #ec524299;
  backdrop-filter: blur(8px);
}

.nav-bar.active li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  padding-bottom: 40px;
}

.nav-bar.active a {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;
}

.img-nav .humberger {
  font-size: 30px;
  cursor: pointer;
  color: #0009;
  font-weight: 700;
  display: block;
  margin-top: -1.2rem;
  z-index: 10;
}

i.close {
  font-size: 24px;
  color: white;
  display: none;
  cursor: pointer;
  filter: invert(0);
}

i.close.show {
  display: flex;
}

i.humberger.hide {
  display: none;
}

.main {
  background: url('/assets/hero-bg.png') no-repeat;
  background-size: cover;
  background-position-x: 30%;
  background-position-y: center;
}

.introduction-page {
  padding: 19% 5% 7% 5%;
}

.intro-text h2 {
  color: #ec5242;
  font-weight: 100;
  padding-bottom: 10px;
}

.intro-text h1 {
  background: url('/assets/seamless-wood-texture-for-photoshop.jpg') no-repeat center center;
  background-size: 100%;
  color: #ec5242;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Catamaran, sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  -webkit-text-stroke: 3px #ec5242;
}

.intro-text span {
  font-size: 80px;
  background: url('/assets/back.png');
  line-height: 80px;
  color: transparent;
  background-position: 0 0;
  -webkit-text-stroke: 3px #ec5242;
  background-size: 200%;
  -webkit-background-clip: text;
  animation: text 20s linear infinite;
}

@keyframes text {
  100% {
    background-position: 2000px 0;
  }
}

.intro-par {
  border: 3.5px solid  #fff;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  padding: 10px 12px;
  margin-top: 15px;
  background-color: #d3d3d355;
  font-weight: 400;
  margin-bottom: 15px;
  max-width: 70%;
}

.time {
  font-weight: 700;
  font-size: 20px;
  color: #272a3190;
}

.location:last-child {
  font-weight: 400;
}

.programms {
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23616161' fill-opacity='0.08' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 40px 0;
}

.main-wrapper {
  padding-top: 30px;
}

.program-title {
  padding: 30px 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d3d3d3;
  padding-bottom: 20px;
}

.program-title .line {
  width: 10%;
  height: 2px;
  background-color: #ec5242;
  margin-top: 13px;
}

.p-wrapper {
  display: grid;
  grid-template-columns: 18% 18% 48%;
  background-color: #272a3170;
  grid-column-gap: 4%;
  padding: 4% 1%;
  margin: 20px;
  transition: transform 0.4s ease-in;
}

.p-wrapper:hover {
  transform: scale(1.1);
}

.p-wrapper h2 {
  color: #ec5242;
  padding-top: 10px;
  padding-left: 10px;
}

.p-wrapper p {
  color: #d3d3d3;
  padding-left: 35px;
  align-self: center;
}

.img {
  text-align: center;
  padding-left: 40%;
  align-self: center;
}

.bttn {
  display: flex;
  justify-content: center;
  background-color: #ec5242;
  color: #d3d3d3;
  font-size: 20px;
  padding: 30px 11%;
  margin: 15px auto;
}

.desk-version {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    background-color: #fff;
    width: 100%;
  }

  header .logo {
    display: flex;
  }

  .img-nav .humberger {
    display: none;
  }

  .nav-bar.active {
    display: none;
  }

  .navbar.show-nav {
    visibility: visible;
  }

  .nav-bar {
    display: flex;
    position: relative;
  }

  .nav-bar ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .nav-bar ul li {
    list-style: none;
  }

  .nav-bar li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-left: 12px;
    line-height: 20px;
    position: relative;
  }

  .nav-bar ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    transform: translateX(-130%);
    background-color: #ec5242;
    transition: width 0.3s;
  }

  .nav-bar ul li a:hover::after {
    width: 50%;
  }

  .nav-bar li a:hover {
    color: #344563;
    font-weight: 650;
  }

  .introduction-page {
    padding-top: 18%;
    padding-left: 8%;
  }

  .intro-text {
    max-width: 70%;
  }

  .intro-par {
    max-width: 48%;
  }

  .time {
    max-width: 60%;
  }

  .main-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
  }

  .img {
    padding-right: 45%;
  }

  .p-wrapper {
    display: grid;
    grid-template-columns: 100%;
    padding: 10% 2%;
    margin: 4px;
    text-align: center;
  }

  .p-wrapper p {
    padding-right: 20px;
    text-align: center;
    font-size: 13px;
  }

  .p-wrapper h2 {
    font-size: 15px;
  }

  .bttn {
    border: none;
    background: none;
    color: #d3d3d3;
  }

  .programms .btn-href {
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d3d3d3;
    padding: 24px;
    padding-top: 50px;
    color: #272a31;
    height: 150px;
    margin-top: -20px;
    font-size: 18px;
    font-weight: 600;
  }

  .footer-wrapper .logo span {
    display: block;
    color: #ec5242;
  }

  .desk-version {
    display: flex;
  }

  .partners {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .partner-section {
    height: 300px;
    background-color: #272a31;
    border: 1px solid #121212;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  .partner-text h2 {
    color: #d3d3d3;
    text-align: center;
    align-self: center;
  }

  .partner-text .line {
    display: flex;
    justify-content: center;
    width: 30px;
    background-color: #ec5242;
    height: 2px;
    margin-left: 48%;
    margin-top: 10px;
  }

  .partner-logo img {
    width: 75%;
    height: 50%;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
